<div class="row">
    <div class="col-md-6 col-offset-md-6 well" style="margin-top:40px;">
        <form method="post" action="/account/login">
            <input type="text" name="email" placeholder="Email" class="form-control" />
            <input type="password" name="password" placeholder="Password" class="form-control" />
            <button class="btn btn-success" style="margin-top:40px;">Log In</button>
            <h5>No account? Sign up <a href="/account/signup">here</a></h5>
        </form>
    </div>
</div>