<div class="row">
    <div class="col-md-6 col-offset-md-6 well" style="margin-top:40px;">
        <form method="post" action="/account/signup">
            <input type="text" name="name" placeholder="Name" class="form-control" />
            <input type="text" name="email" placeholder="Email" class="form-control" />
            <input type="password" name="password" placeholder="Password" class="form-control" />
            <button class="btn btn-warning" style="margin-top:40px;">Sign Up</button>
        </form>
    </div>
</div>